Django
django-environ
psycopg2-binary
django-admin-interface
djangorestframework
crispy-tailwind
gunicorn
boto3
django-storages
django-weasyprint
markdown2
django-money
docutils
PyPDF2
python-docx-1
django-csp
django-feature-policy
requests

django-nplusone
django-debug-toolbar
djhtml
flake8
black
factory-boy
django-extensions
django-coverage-plugin
pre-commit
pydot
coverage
pytest
pytest-cov
pytest-django
pytest-randomly
pytest-xdist
pyparsing
pretty-errors
tryceratops
django-debug-toolbar
pip-tools
django-allauth
the-well-maintained-test